<a href="https://colab.research.google.com/github/Priss16/sales-data-analysis-python/blob/main/Week2_Sales_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
np.random.seed(1)

restaurants = ['Dominos', 'McDonalds', 'KFC', 'Subway', 'Pizza Hut']
food_categories = ['Fast Food', 'Beverages', 'Desserts']
start_date = datetime(2024, 1, 1)

data = []

for i in range(50):
    order_id = i + 1001
    restaurant = np.random.choice(restaurants)
    food_category = np.random.choice(food_categories)
    quantity = np.random.randint(1, 5)
    price = np.random.randint(100, 600)
    order_date = start_date + timedelta(days=np.random.randint(0, 180))

    data.append([order_id, restaurant, food_category, quantity, price, order_date])

columns = ['Order_ID', 'Restaurant', 'Food_Category', 'Quantity', 'Price', 'Order_Date']
df = pd.DataFrame(data, columns=columns)

df.head()

   Order_ID Restaurant Food_Category  Quantity  Price Order_Date
0      1001     Subway     Fast Food         1    355 2024-05-17
1      1002     Subway     Beverages         4    548 2024-05-24
2      1003  McDonalds     Fast Food         4    337 2024-05-14
3      1004  McDonalds      Desserts         1    354 2024-04-11
4      1005        KFC     Fast Food         4    352 2024-06-05

In [3]:
df['Total_Sales'] = df['Quantity'] * df['Price']
df.head()

   Order_ID Restaurant Food_Category  Quantity  Price Order_Date  Total_Sales
0      1001     Subway     Fast Food         1    355 2024-05-17          355
1      1002     Subway     Beverages         4    548 2024-05-24         2192
2      1003  McDonalds     Fast Food         4    337 2024-05-14         1348
3      1004  McDonalds      Desserts         1    354 2024-04-11          354
4      1005        KFC     Fast Food         4    352 2024-06-05         1408

In [4]:
total_revenue = df['Total_Sales'].sum()
total_orders = df['Order_ID'].nunique()

print("Total Revenue:", total_revenue)
print("Total Orders:", total_orders)

Total Revenue: 48518
Total Orders: 50

In [5]:
restaurant_sales = df.groupby('Restaurant')['Total_Sales'].sum().sort_values(ascending=False)
restaurant_sales

Restaurant
KFC          12683
McDonalds    12675
Subway       11266
Dominos       8362
Pizza Hut     3532
Name: Total_Sales, dtype: int64

In [6]:
category_sales = df.groupby('Food_Category')['Total_Sales'].sum()
category_sales

Food_Category
Beverages    19734
Desserts     12206
Fast Food    16578
Name: Total_Sales, dtype: int64

In [7]:
df['Month'] = df['Order_Date'].dt.to_period('M')

monthly_sales = df.groupby('Month')['Total_Sales'].sum()
monthly_sales

Month
2024-01     7499
2024-02     5048
2024-03     8053
2024-04     7554
2024-05    12722
2024-06     7642
Freq: M, Name: Total_Sales, dtype: int64

In [8]:
print(" BUSINESS SUMMARY REPORT")
print("-" * 40)
print(f"Total Revenue Generated: ₹{total_revenue}")
print(f"Total Orders: {total_orders}")
print(f"Top Restaurant: {restaurant_sales.idxmax()}")
print(f"Best Food Category: {category_sales.idxmax()}")
print("Fast food items contributed significantly to overall revenue.")

 BUSINESS SUMMARY REPORT
----------------------------------------
Total Revenue Generated: ₹48518
Total Orders: 50
Top Restaurant: KFC
Best Food Category: Beverages
Fast food items contributed significantly to overall revenue.

In [9]:
df.to_csv("week2_food_delivery_sales_output.csv", index=False)
print("CSV exported successfully!")

CSV exported successfully!